btop/
go/
kiorc
kservicemenurc
ktrashrc
mimeapps.list
pulse/
simple-update-notifier/
vesktop/
user-dirs.dirs
user-dirs.locale
trashrc
yay/
gtk-3.0/
htop/
dolphinrc
dconf/
spotify/
systemd/
obs-studio/
kde.org/
kdeglobals
arkrc
pavucontrol.ini
